.wrapper{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.wrapper > * {
    flex:1;
}

.filter{
    flex-basis: 100%;
    display: flex;
}

.filter > * {
    flex:1;
}

ul{
    list-style: none;
}

li{
    text-align: auto;
}

.all:hover,.male:hover,.female:hover {
    color:red;
    cursor: pointer;
}
 
#name > li:hover{
    cursor: pointer;
    color: aquamarine;
}

.detail{
    display: none;
}








